<div class="container mx-auto px-6 py-8">
  <!-- Encabezado -->
  <div class="flex items-center justify-between mb-6">
    <h2 class="text-3xl font-extrabold text-gray-800 tracking-tight">
      📅 Citas Médicas
    </h2>

    <!-- Botón para alternar vista -->
    <div class="flex gap-3">
      <button (click)="toggleView()"
              class="px-4 py-2 bg-indigo-600 hover:bg-indigo-700 text-white text-sm font-medium rounded-xl shadow-md transition">
        Cambiar a {{ viewMode === 'table' ? 'Cards' : 'Tabla' }}
      </button>
      <button (click)="abrirFormularioCita()" class="px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium rounded-xl shadow-md transition">
        + Nueva Cita
      </button>
    </div>



    <!-- Modal/Formulario -->
    <div *ngIf="mostrarFormulario" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center z-50">
      <div class="bg-white p-6 rounded shadow-lg w-96">
        <h3 class="text-lg font-bold mb-4">Nueva Cita Médica</h3>
        <form (ngSubmit)="guardarCita()">
          <label class="block mb-2">Paciente:</label>
          <select [(ngModel)]="cita.pacienteId" name="pacienteId" required class="w-full mb-3 border px-2 py-1 rounded">
            <option *ngFor="let paciente of pacientes" [value]="paciente.id">{{ paciente.nombres }} {{ paciente.apellidos }}</option>
          </select>

          <label class="block mb-2">Médico:</label>
          <select [(ngModel)]="cita.medicoId" name="medicoId" required class="w-full mb-3 border px-2 py-1 rounded">
            <option *ngFor="let medico of medicos" [value]="medico.id">{{ medico.nombres }} {{ medico.apellidos }}</option>
          </select>

          <label class="block mb-2">Fecha:</label>
          <input type="date" [(ngModel)]="cita.fecha" name="fecha" required class="w-full mb-3 border px-2 py-1 rounded"/>

          <label class="block mb-2">Hora:</label>
          <input type="time" [(ngModel)]="cita.hora" name="hora" required class="w-full mb-3 border px-2 py-1 rounded"/>

          <label class="block mb-2">Motivo:</label>
          <input type="text" [(ngModel)]="cita.motivo" name="motivo" required class="w-full mb-3 border px-2 py-1 rounded"/>

          <div class="flex justify-end mt-4">
            <button type="button" class="mr-2 px-4 py-2 bg-gray-400 rounded" (click)="cerrarFormularioCita()">Cancelar</button>
            <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded">Guardar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- Estado cargando -->
  <div *ngIf="loading" class="text-center text-gray-500 py-10">
    ⏳ Cargando citas...
  </div>

  <!-- Contenido -->
  <ng-template [ngIf]="!loading">
    <div *ngIf="citas.length > 0; else emptyTpl">

      <!-- Vista TABLA -->
      <div *ngIf="viewMode === 'table'"
           class="bg-white/70 backdrop-blur-lg rounded-2xl shadow-lg overflow-hidden border border-gray-100">
        <div class="overflow-x-auto">
          <table class="w-full text-sm text-left text-gray-700">
            <thead class="bg-gradient-to-r from-blue-600 to-blue-500 text-white uppercase text-xs tracking-wider">
            <tr>
              <th class="px-6 py-3">Numeral</th>
              <th class="px-6 py-3">Fecha</th>
              <th class="px-6 py-3">Hora</th>
              <th class="px-6 py-3">Paciente</th>
              <th class="px-6 py-3">Especialidad</th>
              <th class="px-6 py-3">Médico</th>
              <th class="px-6 py-3">Motivo</th>
              <th class="px-6 py-3">Estado</th>
            </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
            <tr *ngFor="let cita of citas" class="hover:bg-gray-50 transition">
              <td class="px-6 py-4 font-medium text-gray-900">{{ cita.id }}</td>
              <td class="px-6 py-4 font-medium text-gray-900">{{ cita.fecha }}</td>
              <td class="px-6 py-4">{{ cita.hora.substring(0,5) }}</td>
              <td class="px-6 py-4">{{ cita.pacienteNombreCompleto }}</td>
              <td class="px-6 py-4">{{ cita.especialidad }}</td>
              <td class="px-6 py-4">{{ cita.medicoNombreCompleto }}</td>
              <td class="px-6 py-4">{{ cita.motivo }}</td>
              <td class="px-6 py-4">
                <span [ngClass]="{
                  'bg-yellow-100 text-yellow-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'PENDIENTE',
                  'bg-green-100 text-green-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'CONFIRMADA',
                  'bg-red-100 text-red-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'CANCELADA'
                }">
                  {{ cita.estado }}
                </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Vista CARDS -->
      <div *ngIf="viewMode === 'cards'" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <div *ngFor="let cita of citas"
             class="bg-white rounded-2xl shadow-lg border border-gray-200 p-6 hover:shadow-xl transition">
          <div class="flex justify-between items-center mb-4">
            <h3 class="text-lg font-bold text-gray-800">{{ cita.pacienteNombreCompleto }}</h3>
            <span [ngClass]="{
              'bg-yellow-100 text-yellow-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'PENDIENTE',
              'bg-green-100 text-green-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'CONFIRMADA',
              'bg-red-100 text-red-700 px-3 py-1 rounded-full text-xs font-semibold': cita.estado === 'CANCELADA'
            }">
              {{ cita.estado }}
            </span>
          </div>
          <p class="text-sm text-gray-600"><b>Fecha:</b> {{ cita.fecha }}</p>
          <p class="text-sm text-gray-600"><b>Hora:</b> {{ cita.hora }}</p>
          <p class="text-sm text-gray-600"><b>Especialidad:</b> {{ cita.especialidad }}</p>
          <p class="text-sm text-gray-600"><b>Médico:</b> {{ cita.medicoNombreCompleto }}</p>
          <p class="text-sm text-gray-600"><b>Motivo:</b> {{ cita.motivo }}</p>
        </div>
      </div>
      <!-- Mensaje de éxito -->
      <div *ngIf="successMessage" class="mb-4 p-4 bg-green-100 border border-green-300 text-green-700 rounded-lg shadow-sm">
        {{ successMessage }}
      </div>
      <!-- Paginación -->
      <div class="flex justify-between items-center p-4 mt-6 bg-gray-50 border rounded-xl">
        <button (click)="prevPage()" [disabled]="currentPage === 0"
                class="flex items-center gap-2 px-4 py-2 bg-gray-200 hover:bg-gray-300 rounded-xl text-sm font-medium transition disabled:opacity-50 disabled:cursor-not-allowed">
          ⬅ Anterior
        </button>

        <span class="text-gray-600 font-medium">
          Página {{ currentPage + 1 }} de {{ totalPages }}
        </span>

        <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1"
                class="flex items-center gap-2 px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded-xl text-sm font-medium shadow-md transition disabled:opacity-50 disabled:cursor-not-allowed">
          Siguiente ➡
        </button>
      </div>
    </div>


  </ng-template>

  <!-- Cuando no hay citas -->
  <ng-template #emptyTpl>
    <div class="text-center text-gray-500 mt-10 bg-gray-100 py-10 rounded-xl shadow-inner">
      <p class="text-lg font-medium">No hay citas registradas 🗒</p>
      <p class="text-sm">Puedes agregar una nueva cita desde el botón <b>“+ Nueva Cita”</b>.</p>
    </div>
  </ng-template>
</div>
